---
layout: base.liquid
---
<div class="intro col-10 col-12">
<h3 class="intro-title">My name's <a href="/about">Christina</a> and I am a front-end developer building joyful, inclusive digital experiences for the web.</h3>

<p class="intro-sub">See what I've been working on</p>
<p class="intro-sub">↓</p>
</div>

<!-- iterate over project_collection to generate a preview of each project on the homepage -->
{%- for entry in collections.project %}
    <div class="card col-10 col-6 col-12">
        <img class="img" src="{{ project_thumbnail }}" alt="">
        <div class="prj-data-thumb col-8 ">
        <h2 class="prj-title">{{entry.data.project_title}}</h2>
        <p class="prj-sum">{{entry.data.project_summary}}</p>
        <a href="{{entry.url}}"><button class="btn">View Details</button></a>
        </div>
    </div>
{%- endfor %}
