---
layout: base.liquid
---
<div class="intro col-10 col-6 ">
    <h1 class="intro-title">My name's <a href="/about">Christina</a> 
and I'm building things that live on the web.</h1>

    <p class="intro-sub">See what I've been working on</br>
    ↓</p>
</div>

<!-- iterate over project_collection to generate a preview of each project on the homepage -->
<div class="cards">
{%- for entry in collections.project %}
    <div class="card col-10 col-6 col-12 ">
        <div class="card-img-wrapper">
        <img class="img img-thumb" src="{{entry.data.project_thumbnail | url}}" alt="">
    </div>
        <div class="prj-data-thumb col-8 ">
            <h2 class="prj-title">{{entry.data.project_title}}</h2>
            <p class="prj-sum">{{entry.data.project_summary}}</p>
            <a href="{{entry.url}}"><button class="btn">View Details</button></a>
        </div>
    </div>
{%- endfor %}
</div>