---

layout: base.liquid

---

<header class="full-bleed">
    <a class="return-nav" id="return" href="/">
        <p id="returnIcon" class="return-icon">â†</p>
        <p id="returnLink" class="return-link">Return Home</p>
    </a>
</header>
<body class="">
    {{content}}
    
    <script src="{{"/assets/scripts/main.js" | url}}"></script>

</body>