---

layout: base.liquid

---

<header class="wrapper">
    <!-- <a class="return-nav" id="return" href="/">
        <h2 id="returnIcon" class="return-icon">←</h2>
        <h2 id="returnLink" class="return-link">Return Home</h2>
    </a> -->
    <nav class="nav-wrapper">
        <a class="logo-link" href="/">
        <ul class="nav">
            <li class="logo">
                <h2 class="logo-text">CP</h2>
                </li>
        </ul></a>
        <ul class="nav ">
            <li class="nav-item "><a class="abt-img-link" href="/about">
                    <h3>About</h3>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="abt-img-link" href="https://twitter.com/hipstina/">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="abt-img-link" href="https://github.com/hipstina/">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li> -->
        </ul>
    </nav>
</header>
<body class="">
    {{content}}
    
    <script src="{{"/assets/scripts/main.js" | url}}"></script>

</body>