/* Card
------------------------ */

$card-width: 300px;

.cards {
  width: 100%;
  height: 100%;
  animation: shiftCardsUp 1s ease-in 0.7s forwards;
  // max-width: 150vw;
  margin: 200px 0 0 0;
  @media only screen and (min-width: 800px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    // max-height: 100vh;
    min-height: 60vh;
    // max-width: 80vw;
    margin: 0;
    padding: 0;
  }
}

@keyframes shiftCardsUp {
  0% {
    opacity: 0;
    // transform: translateY(-30px);
  }

  50% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  margin: 200px auto 0 auto;
  // margin: $space auto;
  @media only screen and (min-width: 850px) {
    // margin: $space 0;
    // margin: 200px 0 0 0;
    // margin-right: 60px;
  }

  position: relative;
  max-width: $card-width;
}

.card:nth-of-type(odd) {
  @media only screen and (min-width: 850px) {
    margin: 200px 10% 0 0;
  }
}

.card:nth-of-type(even) {
  @media only screen and (min-width: 850px) {
    margin: 200px 0 0 10%;
  }
}

.card-img-wrapper {
  position: relative;
  // background: #efefef;
  // background-image: linear-gradient(55deg, $wizard40 0%, transparent 45%),
  //   linear-gradient(160deg, $wizard60 10.23%, $flesh50 90.88%);

  border: 3px solid $cocoa30;
  border-radius: 0.1rem;
  max-height: 330px;
  max-width: $card-width;
  transition: 0.5s cubic-bezier(0.42, -0.01, 0, 1.51);
  overflow: hidden;
  margin: 0 auto;

  // background-image: linear-gradient(
  //     57.09deg,
  //     rgba(245, 250, 28, 0.9) 0%,
  //     rgba(252, 255, 101, 0) 37.99%
  //   ),
  //   linear-gradient(
  //     162.34deg,
  //     rgb(106, 255, 201) 25.23%,
  //     rgba(70, 255, 188, 0) 70.88%
  //   ),
  //   linear-gradient(
  //     95.09deg,
  //     rgb(252, 255, 109) 1.14%,
  //     rgba(101, 220, 176, 0.86) 33.44%,
  //     rgba(253, 125, 225, 0.86) 62.8%,
  //     rgba(211, 155, 255, 0.58) 99.02%
  //   );

  //&:hover {
  // border-color: $wizard50;
  // border-width: 3px;
  // background: $wizard30;

  //}

  @media only screen and (min-width: 700px) {
    max-height: 300px;
    position: relative;
  }
}

.card-img {
  max-width: $card-width;
  // filter: grayscale(100%);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: contain;
  transition: 0.5s cubic-bezier(0.42, -0.01, 0, 1.51);
  transform: scale(1) rotatez(-9deg) translateY(40px);
  margin: 12% 35%;
  border: 3px solid $wizard60;
  // background: transparent;

  // filter: grayscale(100%);

  @media only screen and (min-width: 899px) {
    transform: scale(1) rotatez(-12deg) translateY(30px) translateX(80px);
    margin: 12% 22%;
  }
}

.card-img-hover {
  /* Disabling Mobile Animations */
  @media only screen and (min-width: 700px) {
    // border-color: $wizard50;
    border-width: 3px;

    background-image: linear-gradient(
        57.09deg,
        rgba(245, 250, 28, 0.9) 0%,
        rgba(252, 255, 101, 0) 37.99%
      ),
      linear-gradient(
        162.34deg,
        rgb(106, 255, 201) 25.23%,
        rgba(70, 255, 188, 0) 70.88%
      ),
      linear-gradient(
        95.09deg,
        rgb(252, 255, 109) 1.14%,
        rgba(101, 220, 176, 0.86) 33.44%,
        rgba(253, 125, 225, 0.86) 62.8%,
        rgba(211, 155, 255, 0.58) 99.02%
      );
    // background: transparent;

    // background-image: linear-gradient(55deg, $wizard40 0%, transparent 45%),
    //   linear-gradient(160deg, $wizard60 10.23%, $flesh50 70.88%);
  }
}

.card-img-overlay {
  // background-image: url("/assets/images/twinkles.svg");
  // background-size: 12%;
  // background-position: 50px 130px;
  // background-repeat: no-repeat;
  // background-color: yellow;

  position: absolute;
  top: -30px;
  left: 0px;
  height: 200%;
  width: 200%;
  z-index: 5;
  transition: 0.5s all cubic-bezier(0.42, -0.01, 0, 1.51);
  cursor: pointer;
  padding: 5px;

  @media only screen and (min-width: 600px) {
    height: 150%;
    width: 150%;
  }

  // &:hover {
  //     top: 90px;
  //     left: 45px;

  //     height: 200%;
  //     width: 200%;
  // }
}

.card-img-overlay-hover {
  /* Disabling Mobile Animations */
  // @media only screen and (min-width: 700px) {
  //   height: 170%;
  //   width: 170%;
  //   transform-origin: 0px -40px;
  //   transform: translateY(-5px) translatex(1.5px);
  // }
}

.card-data {
  max-width: $card-width;
  padding: 0;
  margin: $space 0 0 0;

  @media only screen and (min-width: 1100px) {
    width: $card-width;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    justify-content: flex-start;
  }
}

.card-sum {
  // padding: 0 0 $space 0;
  // color: $flesh50;
  margin: $space 0 $space * 3 0;
  color: $cocoa30;
  font-weight: 500;
}

.card-rotate-hover {
  /* Disabling Mobile Animations */
  @media only screen and (min-width: 700px) {
    // transform-origin: 20px 15px;
    transform: rotatez(-10deg) translateY(20px) translateX(50px) scale(1.04);
    margin: 12% 25%;
  }
}

@media only screen and (min-width: 700px) {
  // .card-data {
  //     margin: 0;
  //     padding: $space 0 0 0;

  // }

  // .card .card-img {
  //   margin: 5% 38%;
  // }

  // .card .card-data{
  //     text-align: left;
  // }
}

@media only screen and (min-width: 1000px) {
  // .card-title {
  //     margin: 0;
  //     padding: 0;

  // }

  // .card-data {
  //     // width: 400px;
  //     margin: 0;
  //     padding: 0;
  // }

  .card-img-wrapper {
    flex-basis: 100%;
    max-width: $card-width;
    max-height: 300px;
  }
}

@media only screen and (min-width: 1400px) {
  .card-img-wrapper {
    max-height: $card-width;
  }
}

.card-btn-wrapper {
  margin: 0;
  align-self: flex-start;
}
