/* Card
------------------------ */

$card-width: 300px;

.cards {
  max-width: 100vw;
  @media only screen and (min-width: 800px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 100vh;
    min-height: 60vh;
    max-width: 80vw;
    margin: 0;
    padding: 0;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: flex-start;
  margin: 0 auto;
  @media only screen and (min-width: 800px) {
    margin: 0;
  }

  margin-bottom: 200px;
  position: relative;
  max-width: $card-width;
}

.card-img-wrapper {
  position: relative;
  background: $flesh40;
  border: 3px solid $cocoa30;
  border-radius: 0.1rem;
  max-height: 330px;
  max-width: $card-width;
  transition: 0.35s all ease-in-out;
  overflow: hidden;
  margin: 0 auto;

  // &:hover {
  //     border-color: $wizard50;
  //     border-width: 3px;
  //     background: $wizard30;
  // }

  @media only screen and (min-width: 700px) {
    max-height: 330px;
    position: relative;
  }
}

.card-img {
  max-width: $card-width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s cubic-bezier(0.42, -0.01, 0, 1.51);
  transform: scale(1.1) rotatez(-9deg) translateY(20px);
  margin: 12% 35%;

  @media only screen and (min-width: 899px) {
    transform: scale(1) rotatez(-7deg);
    margin: 12% 22%;
  }
}

.card-img-hover {
  /* Disabling Mobile Animations */
  @media only screen and (min-width: 700px) {
    border-color: $wizard50;
    border-width: 3px;
    background: $wizard30;
  }
}

.card-img-overlay {
  background-image: url("/assets/images/twinkles.svg");
  background-size: 12%;
  background-position: 50px 130px;
  background-repeat: no-repeat;
  // background-color: yellow;
  opacity: 0.95;
  position: absolute;
  top: -30px;
  left: 0px;
  height: 200%;
  width: 200%;
  z-index: 5;
  transition: 0.5s all cubic-bezier(0.42, -0.01, 0, 1.51);
  cursor: pointer;
  padding: 5px;

  @media only screen and (min-width: 600px) {
    height: 150%;
    width: 150%;
  }

  // &:hover {
  //     top: 90px;
  //     left: 45px;

  //     height: 200%;
  //     width: 200%;
  // }
}

.card-img-overlay-hover {
  /* Disabling Mobile Animations */
  @media only screen and (min-width: 700px) {
    height: 170%;
    width: 170%;
    transform-origin: 100px 100px;
    transform: translateY(-5px) translatex(1.5px);
  }
}

.card-data {
  max-width: $card-width;
  padding: 0;
  margin: $space 0 0 0;

  @media only screen and (min-width: 1100px) {
    width: $card-width;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    justify-content: flex-start;
  }
}

.card-sum {
  // padding: 0 0 $space 0;
  // color: $flesh50;
  margin: $space 0 $space * 3 0;
  color: $cocoa30;
  font-weight: 500;
}

.card-rotate-hover {
  /* Disabling Mobile Animations */
  @media only screen and (min-width: 700px) {
    transform: rotatez(-10deg);
    margin: 12% 25%;
  }
}

@media only screen and (min-width: 700px) {
  // .card-data {
  //     margin: 0;
  //     padding: $space 0 0 0;

  // }

  .card .card-img {
    margin: 5% 38%;
  }

  // .card .card-data{
  //     text-align: left;
  // }
}

@media only screen and (min-width: 1000px) {
  // .card-title {
  //     margin: 0;
  //     padding: 0;

  // }

  // .card-data {
  //     // width: 400px;
  //     margin: 0;
  //     padding: 0;
  // }

  .card-img-wrapper {
    flex-basis: 100%;
    max-width: $card-width;
    max-height: 300px;
  }
}

@media only screen and (min-width: 1400px) {
  .card-img-wrapper {
    max-height: $card-width;
  }
}

.card-btn-wrapper {
  margin: 0;
  align-self: flex-start;
}
