$gradientColorZero: rgba(253, 125, 205, 0.86);
$gradientColorOne: $wizard50;
$gradientColorTwo: rgba(101, 220, 176, 0.76);
$gradientColorThree: $wizard50;

$gradientColorZeroTransparent: rgba(253, 125, 205, 0);
$gradientColorOneTransparent: rgba(255, 51, 61, 0);
$gradientColorTwoTransparent: rgba(101, 220, 176, 0);
$gradientColorThreeTransparent: rgba(255, 203, 87, 0);

none {
  //   background: radial-gradient(
  //         $gradientColorTwo 40%,
  //         $gradientColorTwoTransparent 60%
  //       ) -620px -180px no-repeat,
  //     radial-gradient($gradientColorThree 33%, $gradientColorThreeTransparent 67%) -120px -24px
  //       no-repeat,
  //     radial-gradient($gradientColorTwo 40%, $gradientColorTwoTransparent 70%) -470px
  //       150px no-repeat,
  //     radial-gradient(
  //         $gradientColorZero 30%,
  //         $gradientColorZeroTransparent 67% 100%
  //       )
  //       70px -550px no-repeat;

  background: radial-gradient(
        $gradientColorThree 23%,
        $gradientColorThreeTransparent 67% 100%
      )
      385px -24px,
    radial-gradient($gradientColorOne 0, $gradientColorOneTransparent 60% 100%) -940px
      290px,
    radial-gradient(
        $gradientColorTwo 10%,
        $gradientColorTwoTransparent 60% 100%
      ) -120px 250px,
    radial-gradient(
        $gradientColorOne 40%,
        $gradientColorOneTransparent 57% 100%
      )
      495px -44px,
    radial-gradient(
        $gradientColorZero 30%,
        $gradientColorZeroTransparent 67% 100%
      )
      122px -120px,
    radial-gradient(
        $gradientColorZero 10%,
        $gradientColorZeroTransparent 60% 100%
      ) -420px 120px,
    radial-gradient(
        $gradientColorTwo 15%,
        $gradientColorTwoTransparent 50% 100%
      ) -620px 0,
    radial-gradient(
        $gradientColorTwo 25%,
        $gradientColorTwoTransparent 50% 100%
      )
      520px -250px,
    $gradientColorZero;
}

//  radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,radial-gradient(var(--gradientColorOne) 0,var(--gradientColorOneTransparent) 60% 100%) -940px 290px,radial-gradient(var(--gradientColorTwo) 10%,var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,radial-gradient(var(--gradientColorOne) 40%,var(--gradientColorOneTransparent) 57% 100%) 495px -44px,radial-gradient(var(--gradientColorZero) 30%,var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,radial-gradient(var(--gradientColorZero) 10%,var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,radial-gradient(var(--gradientColorTwo) 15%,var(--gradientColorTwoTransparent) 50% 100%) -620px 0,radial-gradient(var(--gradientColorTwo) 25%,var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,var(--gradientColorZero)
