header {
  height: 100%;
  margin: 0;
  color: #efefef;
}

/* main nav */
/* ----------------*/

.nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  border-bottom: 1px solid $black;
}

.nav {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
  padding: 0 1rem;
  font-size: 22px;
  padding: 0;

  @media only screen and (min-width: 500px) {
    font-size: 28px;
    margin: 0 2rem;
  }
}

.nav-item h3,
.logo-text {
  padding: 0 1rem;
}

.logo {
  background: transparent;
  //   font-family: "Bungee Shade", -apple-system, BlinkMacSystemFont, "Segoe UI",
  //     Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: $space $space * 2;
  margin: 0;
  border-right: 1px solid $black;
}

.logo-link {
  text-decoration: none;

  &:hover {
    background: linear-gradient(
        107.09deg,
        rgba(245, 250, 28, 0.9) 0%,
        rgba(252, 255, 101, 0) 37.99%
      ),
      linear-gradient(162.34deg, #6affc9 25.23%, rgba(70, 255, 188, 0) 70.88%),
      linear-gradient(
        135.09deg,
        #fcff6d 1.14%,
        rgba(101, 220, 176, 0.86) 33.44%,
        rgba(253, 125, 225, 0.86) 62.8%,
        rgba(211, 155, 255, 0.58) 99.02%
      );
  }
}

.abt-img-link {
  text-decoration: none;
}

/* internal nav */
/* ----------------*/

.return-nav {
  display: block;
  padding: $space $space * 2;
  border-bottom: 1px solid $black;

  text-decoration: none;
}

.return-icon {
  display: inline;
}

.return-link {
  display: inline;
  padding: $space;
}

/* footer */
/* ----------------*/

.ftr-title {
  padding: $space * 4 $space * 2 $space * 2 $space * 2;
}

.ftr {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
  margin: 150px 0 0 0;
  padding: 0;
  @media only screen and (min-width: 700px) {
    margin: 200px 0 0 0;
    // border-top: none;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.ftr-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  @media only screen and (min-width: 800px) {
    align-self: end;
  }
}

.ftr-home-text {
  padding: $space;
  text-decoration: none;

  @media only screen and (min-width: 800px) {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
  }
}

.socials,
.colophon,
.contact {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  padding: $space $space * 2;
  @media only screen and (min-width: 500px) {
    padding: $space * 2 $space * 3 $space * 2 $space * 2;
  }
  @media only screen and (min-width: 800px) {
    padding: $space * 3 $space * 6 $space * 3 $space * 3;
  }
}

.contact-socials {
  display: flex;
  flex-flow: column nowrap;

  @media only screen and (min-width: 360px) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.ftr-text,
.ftr-copy {
  margin-top: $space/3;
}

.ftr-home ul,
.socials ul,
.colophon ul,
.contact ul {
  list-style: none;
  padding: 0;
}

.socials-text {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.socials li i,
.contact li i {
  margin: 5px 0 0 0;
  padding: 0;
}

.socials li,
.contact li {
  //   color: $white;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: $space/2 0;
}

.bread {
  list-style: none;
  padding: $space * 2 $space * 2.5 $space $space * 2.5;
  margin: 0;
  font-weight: 600;
  // border-right: 1px solid $black;
  height: 100%;
}

.bread-wrapper,
.cta-wrapper {
  text-decoration: none;
  margin: 0;
  padding: 0 0 $space 0;
  height: 100%;
  &:hover {
    background: linear-gradient(
        107.09deg,
        rgba(245, 250, 28, 0.9) 0%,
        rgba(252, 255, 101, 0) 37.99%
      ),
      linear-gradient(162.34deg, #6affc9 25.23%, rgba(70, 255, 188, 0) 70.88%),
      linear-gradient(
        135.09deg,
        #fcff6d 1.14%,
        rgba(101, 220, 176, 0.86) 33.44%,
        rgba(253, 125, 225, 0.86) 62.8%,
        rgba(211, 155, 255, 0.58) 99.02%
      );
  }
}

.bread-wrapper {
  border-right: 1px solid $black;
}
.cta-wrapper {
  border-left: 1px solid $black;
}

.bread-crumb {
  margin: 0;
  padding: 0;
}

.ftr-nav {
  //   background: $black;
  //   color: $white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border-top: 1px solid $black;
}

.cta {
  list-style: none;
  padding: $space * 2 $space * 2.5 $space $space * 2.5;
  margin: 0;
  height: 100%;
}
