/* nav */
/* ----------------*/
header {
    position: relative;
   height: 0;
    margin: 100px 0 ;
    padding: 0 ;
    // border-bottom: 3px solid $cocoa30;
   
}
.menu-wrapper {
    position: fixed;
   margin: 0 0 200px 0;
   display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 6;
}

.menu {
    position: fixed;
    background-color: transparent;
    color: $wizard10;
    top: 0;
    left: 0;
    height: 80px;
    margin: 0 ;
    padding: $space*1.5  100px $space 0;
    z-index: 7;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.menu-item {
    padding: 5px $space;
    margin: 0 $space;
    // border: $wizard10 1px solid;
    height: 40px;
    font-weight: 500;
}

.menu-item-link {
    color: $wizard70;
    text-decoration: none;
}

/* about-img link */
/* ----------------*/
.abt-nav {
    display: block;
    margin: 0 auto;
    width: 100px;
    // flex-flow: row nowrap;
    // justify-content: flex-end;
    align-items: center;
    // padding: $space*2 $space;
    // border: 3px solid $wizard60;
    // border-radius: .2rem;
    // background: $cocoa30;
    // background-image: 
    // linear-gradient(47deg,$wizard60 0%,transparent 85%),
    // linear-gradient(160deg,$carrot50 10.23%,$wizard50 80.88%)

}

.abt-img-link {
    position: relative;
    margin: $space*5 0 0  0;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -50px;
    // border: 3px solid $cocoa30;
    border-radius: 3rem;
    transition: .2s cubic-bezier(0.42, -0.01, 0, 1.51);
}

.abt-nav-img {
    // position: absolute;
    // top: -3px;
    // left: -3px;
    min-width: 250px;
    max-width: 300px;
    // width: 100%;
    height: 300px;
    align-self: flex-start;
    margin: 0  auto $space*3  auto ;
    background-origin: border-box;
   background-image: url("/assets/images/profile-royal-blue.png");
   background-size: cover;
   border: $border;
   background-color: transparent;
    border-radius: .2rem;
    transition: .2s cubic-bezier(0.42, -0.01, 0, 1.51);
    @media only screen and (min-width: 700px) {
        margin: 0  auto;
        padding: 0 $space*2;
    }
    
}

.abt-nav-img:hover {
    // border-color: $flesh50;
    // width: 105px;
    // height: 105px;
   
}

.abt-img-link:hover {
    // top: -25px;
    // left: -55px;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}

/* return link */
/* ----------------*/
.return-nav,
.return-nav:visited {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    // align-items: flex-end;
    // justify-content: center;
    color: $cocoa30;
    text-decoration: none;
    font-weight: 500;
    width: 250px;
    height: 40px;
    // margin: 0 0 $space $space*2;
    margin: 0;
        padding: 0;

    // @media only screen and (min-width: 1100px) {
    //     margin: 50px 0 0 0;
    //     padding: 0;
    // }
    
}


.return-icon {
    padding: 0;
}


.return-link {
    // margin: $space*2.25  20px 0;
    // margin: $space*5 0 0 0;
    padding: 0 0 0 $space;
    // text-decoration: underline 2px solid $flesh40;
    transition: .5s all cubic-bezier(0.42, -0.01, 0, 1.51);
    
}

.return-hover {
    text-decoration-color: $wizard50;
    // border-bottom-color: $wizard50;
   
    // font-weight: 400;
    // letter-spacing: .02rem;
    color: $flesh50;
}

.return-active {
    color: $flesh50;
}

.return-focus {
    outline: $border;
}






/* footer */
/* ----------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 1 30%;
    align-content:  center;
    text-align: center;
    // border-top: 3px solid $cocoa30;
    width: 100%;
    margin: 200px auto $space auto;
    // padding: 0;
    
    border-radius: .2rem;
    // background: $carrot20;
    padding: $space*2 $space;
    // border: 3px solid $cocoa30;
}

.ftr-text {
    // margin: 0 auto $space auto;
    font-size: 1rem;
    font-weight: 400;
    // color: $wizard50;  
    margin: 0 $space 0 $space;
    padding: 0;  
    
}

.ftr-copy {
    // margin: 0 auto $space auto;
    // font-size: 1rem;
    font-weight: 500;
    // color: $wizard50;
    // border: 1px solid red;
    padding: $space*1.5 0;
    margin: 0;
}

.logo {
    background: transparent;
    max-height: 100px;

    // margin: $space  auto $space*2 auto;
}

.logo-img {
    margin: $space 0;
    width: 100px;
}

// .colophon {
//     max-width: 300px;
// }

.socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    max-width: 200px;
    margin: auto ;
    padding: 0;
    // margin: 0;
    // color: $wizard50;
    // border: 1px solid red;
}

.socials li {
    list-style: none;
    font-size: 22px;
    margin: $space $space 0 $space;
    padding: 0;
}

.colophon,
    .socials  {
        // margin: $space*2 auto;
    }

   
    .logo  {
        margin-bottom: $space;
        // border: 1px solid red;
        
    }

    

@media only screen and (min-width: 700px) {
    footer {
        flex-flow: row nowrap;
        // flex: 1 1 1 30%;
    justify-content: space-between;
    align-content:  center;
    text-align: center;
    height: 150px;
    // max-width: 400px;
    }

    .socials {
        margin: 0;
       
    }
   

   
    
}