/* nav */
/* ----------------*/
header {
   height: 120px;
    margin: 0 0 $space*2 0;
    padding: 0 0 $space 0;
    border-bottom: 3px solid $cocoa30;
}

/* about-img link */
/* ----------------*/
.abt-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.abt-img-link {
    margin: $space*3 0 0  0;
    width: 50px;
    height: 50px;
}

.abt-nav-img {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin: 0;
    border: 3px solid $flesh50;
   background-image: url("/assets/images/profile-charcoal.png");
   background-size: cover;
    border-radius: 3rem;
    
}

/* return link */
/* ----------------*/
.return-nav,
.return-nav:visited {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    // align-items: flex-end;
    // justify-content: center;
    color: $cocoa30;
    text-decoration: none;
    font-weight: 500;
    width: 160px;
    height: 40px;
    // margin: 0 0 $space $space*2;
    margin: 50px 0 0 0;
        padding: 0;

    // @media only screen and (min-width: 1100px) {
    //     margin: 50px 0 0 0;
    //     padding: 0;
    // }
    
}


.return-icon {
    padding: 0;
}


.return-link {
    // margin: $space*2.25  20px 0;
    margin: $space ;
    padding: 0;
    // text-decoration: underline 2px solid $flesh40;
    transition: .5s all cubic-bezier(0.42, -0.01, 0, 1.51);
    
}

.return-hover {
    text-decoration-color: $wizard50;
    // border-bottom-color: $wizard50;
   
    // font-weight: 400;
    // letter-spacing: .02rem;
    color: $flesh50;
}

.return-active {
    color: $flesh50;
}

.return-focus {
    border: 3px solid $flesh50;
}






/* footer */
/* ----------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 1 30%;
    align-content:  center;
    text-align: center;
    border-top: 3px solid $cocoa30;
    width: 100%;
    margin: 200px auto $space auto;
    padding: 0;
}

.ftr-text {
    // margin: 0 auto $space auto;
    font-size: .9rem;
    font-weight: 400;
    // color: $wizard50;  
    margin: 0 $space 0 $space;
    padding: 0;  
    
}

.ftr-copy {
    // margin: 0 auto $space auto;
    font-size: .9rem;
    font-weight: 400;
    // color: $wizard50;
    // border: 1px solid red;
    padding: $space*1.5 0;
    margin: 0;
}

.logo {
    background: transparent;
    max-height: 100px;

    // margin: $space  auto $space*2 auto;
}

.logo-img {
    margin: $space 0;
    width: 100px;
}

// .colophon {
//     max-width: 300px;
// }

.socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    max-width: 200px;
    margin: auto ;
    padding: 0;
    // margin: 0;
    // color: $wizard50;
    // border: 1px solid red;
}

.socials li {
    list-style: none;
    font-size: 20px;
    margin: $space $space 0 $space;
    padding: 0;
}

.colophon,
    .socials  {
        // margin: $space*2 auto;
    }

   
    .logo  {
        margin-bottom: $space;
        // border: 1px solid red;
        
    }

    

@media only screen and (min-width: 700px) {
    footer {
        flex-flow: row nowrap;
        // flex: 1 1 1 30%;
    justify-content: space-between;
    align-content:  center;
    text-align: center;
    height: 20vh;
    // max-width: 400px;
    }

    .socials {
        margin: 0;
       
    }
   

   
    
}