/* Intro
------------------------ */
.intro {
    height: 100vh;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {
    .intro {
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        align-content: space-around;
        justify-content: center;
    }
}

@media only screen and (min-height: 600px) {
    .intro {
        height: 70vh;
    }
}

.intro-title {
 margin: $space 0 $space*4 0;
}

.intro-sub {
    text-align: center;
}

/* Project-thumb
------------------------ */
.card {
    margin: 0 auto;
    margin-bottom: $space*5;
}
.prj-data-thumb {
    padding: 0 $space;
}


@media only screen and (min-width:700px) {
    .card:nth-child(even) {
        align-content: right;
    

    & .prj-data-thumb {
     text-align: right;
     margin: 0 0 0 33.33%;
    }
    }
    
}

@media only screen and (min-width: 1100px) {
    .card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .prj-data-thumb {
        padding: 0 $space*2;
    }

    .card:nth-child(odd) {
        flex-flow: row-reverse nowrap;
        margin: 0 ;
        margin-bottom: $space*5;
    }
    .card:nth-child(even) {
        margin: 0 ;
        margin-bottom: $space*5;

        & .prj-data-thumb {
            text-align: right;
            margin: 0 ;
           }
    }

    
}

/* Project-detail
------------------------ */
.prj-img,
.img {
    background: $flesh40;
    border: 2px solid $cocoa30;
    border-radius: 6px;
    height: 300px;
    width: 100%;
}

.prj-img { 
    height: 200px;
    width: 90%;
    display: block;
    margin: $space*2 auto auto auto;
    z-index: 0;
}

.prj {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    background: $carrot40;
    border: 2px solid $cocoa30;
    border-radius: 6px;
    padding: $space*3;

    position: relative;
    top: -40px;
    z-index: 4;
    margin: 0 0 $space*2 0;
}

.prj-label {
    text-transform: uppercase;
    font-weight: 400; 
    line-height: 1.3;
}

.prj-data {
    font-weight: 600; 
    line-height: 1.3;
    // width: 140px;
}

.ftr-cta  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 290px;
    margin: auto;
}

@media only screen and (min-width: 700px) {
    .cta {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .ftr-cta {
        max-width: 320px;
    }
}

