//  sass CLI commands
//  + to compile sass file:
//      `   sass style.scss:style.css   `
//  
//  +  to initiate sass watch for css file:
//      `   sass --watch styles.scss:style.css    `
//  
//  +  to initiate sass watch for compressed css file:
//      `   sass --watch styles.scss:style.min.css --style compressed    `    
//  
//  [Press Ctrl-C to stop.]
//  ------------------------------------------------------------------------

* { box-sizing: border-box; }

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;    
    color: rgb(44,44,35);
}

body { margin: 0; }